body{
    background-color: black;
}
h1{
    color: azure;
}
li {
    color: azure;
}
dd {
    color: azure;
}
#Warlock {
    color:blue;
    font-family:"Georgia"
    
}
#Titan {
    color:brown
}

.IMPORTANT {
    color: cornflowerblue;
}

#WarlockFont{
    color:aliceblue;
    font-family: "Times New Roman";

}
